########################## W A R N I N G - L E G A L  N O T I C E ##########################
##                                                                                        ##
## This computer system is the property of the company. It is for authorized use only.   ##
## By using this system, all users acknowledge notice of, and agree to comply with, the   ##
## Security Policy. Unauthorized or improper use of this system may result in             ##
## administrative disciplinary action, civil charges/criminal penalties, and/or other     ##
## sanctions as set forth in the Security Policy. By continuing to use this system        ##
## you indicate your awareness of and consent to these terms and conditions of use.       ##
##                                                                                        ##
## LOG OFF IMMEDIATELY if you do not agree to the conditions stated in this warning.      ##
##                                                                                        ##
############################################################################################
