SET VERIFY OFF
connect "SYS"/"{{ oracle_sys_password }}" as SYSDBA
set echo on
spool {{ oracle_scripts_dir }}/CreateDBFiles.log append
CREATE SMALLFILE TABLESPACE "USERS" LOGGING
  DATAFILE '{{ oracle_base }}/oradata1/users01.dbf' SIZE 200M REUSE
  EXTENT MANAGEMENT LOCAL SEGMENT SPACE MANAGEMENT AUTO;
ALTER DATABASE DEFAULT TABLESPACE "USERS";
CREATE TABLESPACE TS_AUDIT_DAT01
  DATAFILE '{{ oracle_base }}/oradata1/TS_AUDIT_DAT01_01.DBF' SIZE 1000M REUSE
  EXTENT MANAGEMENT LOCAL SEGMENT SPACE MANAGEMENT AUTO;
CREATE TABLESPACE TS_PERFSTAT_DAT01
  DATAFILE '{{ oracle_base }}/oradata1/TS_PERFSTAT_DAT01.DBF' SIZE 1000M REUSE
  EXTENT MANAGEMENT LOCAL SEGMENT SPACE MANAGEMENT AUTO;
CREATE TABLESPACE TS_{{ oracle_sid }}_DAT01
  DATAFILE '{{ oracle_base }}/oradata1/TS_{{ oracle_sid }}_DAT01_01.DBF' SIZE 1000M REUSE
  EXTENT MANAGEMENT LOCAL SEGMENT SPACE MANAGEMENT AUTO;
CREATE TABLESPACE TS_{{ oracle_sid }}_IDX01
  DATAFILE '{{ oracle_base }}/oradata1/TS_{{ oracle_sid }}_IDX_01.DBF' SIZE 1000M REUSE
  EXTENT MANAGEMENT LOCAL SEGMENT SPACE MANAGEMENT AUTO;
spool off
