# Oracle init.ora - managed by Ansible
# {{ oracle_scripts_dir }}/init.ora

*.audit_file_dest='{{ oracle_base }}/admin/adump'
*.audit_trail='db'
*.compatible='19.0.0'
*.control_files='{{ oracle_base }}/mirrlogA/cntrl/control01.ctl','{{ oracle_base }}/oradata1/cntrl/control02.ctl','{{ oracle_base }}/origlogA/cntrl/control03.ctl'
*.cursor_sharing='EXACT'
*.db_block_size={{ oracle_db_block_size }}
*.db_domain=''
*.db_name='{{ oracle_sid }}'
*.diagnostic_dest='{{ oracle_base }}/admin'
*.dispatchers='(PROTOCOL=TCP) (SERVICE={{ oracle_sid }}XDB)'
*.local_listener='{{ oracle_listener_name }}'
*.log_archive_dest_1='LOCATION={{ oracle_base }}/oraarch'
*.log_archive_format='{{ oracle_sid }}_ARC%S_%R.%T'
*.nls_language='{{ oracle_nls_language }}'
*.nls_territory='{{ oracle_nls_territory }}'
*.open_cursors={{ oracle_open_cursors }}
*.parallel_threads_per_cpu=2
*.pga_aggregate_target={{ oracle_pga_target }}
*.processes={{ oracle_processes }}
*.remote_login_passwordfile='EXCLUSIVE'
*.sga_target={{ oracle_sga_target }}
*.undo_tablespace='{{ oracle_undo_tablespace }}'
*.use_large_pages='TRUE'
